<% content_for :title, "Editing friend" %>

<h1>Editing Friend</h1>

<br>

<%= render "form", friend: @friend %>

<br>

<%= link_to "Show this friend", @friend, class: "btn btn-secondary" %>
<%= link_to "Delete", @friend, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
<%= link_to "Back to friends", friends_path, class: "btn btn-dark" %>